datasets
rumie_datasets
UMIE
*.png
ace05-parser
ace_2005_td_v7
ACE05-Processor
ACE2005-toolkit
swig
oneie*
swig\images_512
m2e2
log
datasets.zip
train_datasets
Qwen
LVLM_RUMIE/saves
data_process/processed_data
.vscode
LLaMA-Factory-main
images_512.zip
LVLM_RUMIE/saves
llava-hf
Qwen