datasets
rumie_datasets
UMIE
*.png
ace05-parser
ace_2005_td_v7
ACE05-Processor
ACE2005-toolkit
swig
oneie*
swig\images_512
datasets/m2e2
log
datasets.zip
train_datasets
Qwen
m2e2_model
LVLM_RUMIE/saves
data_process/processed_data
.vscode
LLaMA-Factory-main
images_512.zip
LVLM_RUMIE/saves
llava-hf
Qwen
LVLM_RUMIE/results/*
LVLM_RUMIE/merge_output/*
LVLM_RUMIE/results
LVLM_RUMIE/merge_output
LVLM_test_datasets/MNRE-V1
LVLM_test_datasets/MNRE-V2
LVLM_test_datasets/twitter15
LVLM_test_datasets/twitter17
LLaMA-Factory

OpenGVLab/InternVL3_5-8B